body {
	background: rgb(239,239,239);
	
	margin:0px;
}

a {
	color:inherit;
	text-decoration: none;
}

* {
	margin: 0;
	padding: 0;
}

ul,ol {
	list-style: none;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

hr {
	height: 0;
	border: none;
	border-top: 1px solid rgb(222,222,222);
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

.topNavBar {
	padding-top: 27px;
	padding-bottom: 27px;
	padding-left: 0px;
	padding-right: 0px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
}

.topNavBar-inner {
	padding: 0 16px;
}


.topNavBar nav>ul{
	list-style: none;
	margin: 0;
	padding: 0;
	
}

.topNavBar nav>ul>li{
	float: left;
	margin-left: 17px;
	margin-right: 17px;
	
}

.topNavBar nav>ul>li>a{
	font-size: 12px;
	color:rgb(87,93,104);
	text-decoration: none;
	font-weight: bold;
	border-top: 3px transparent solid;
	border-bottom: 3px transparent solid;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;

	
}

.topNavBar nav>ul>li>a:hover{
	border-bottom: 3px rgb(225,100,104) solid;
}

.topNavBar a{
	float: left;
	padding-top: 12px;
}

.topNavBar nav{
	float: right;
	padding-top: 4px;
	padding-bottom: 4px;
}

.topNavBar .logo {
	font-size: 24px;
	font-family: "Arial Black";
	color: red;
	padding-top: 3px;
	padding-bottom: 4px;

}

.topNavBar .logo .rs {
	margin-right: 4px;
	color: rgb(232,103,107);
}

.topNavBar .logo .card {
	color: rgb(154,157,162);

	
}

.banner {
	background-image: url(./img/rs-cover-2-2-1-1.jpg);
	height: 515px;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
}

.banner .mask {
	height: 515px;
	background-color: rgba(0,0,0,0.8);
}

.userCard {
	xborder: 1px red solid;
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	box-shadow: 1px -1px 3px 0px rgba(135,131,135,1);
}

.userCard .welcome {
	background-color: rgb(232,103,107);
	color: white;
	font-weight: 700;
	padding:5px 13px;
	display: inline-block;
	font-size: 16px;
	line-height: 21px;
	position: relative;
	margin-bottom: 10px;
}

.userCard .welcome .triangle {
	border: 10px solid transparent;
	display: block;
	width: 0px;
	border-left-color: rgb(232,103,107);
	border-top-width: 0px;
	position: absolute;
	left:4px;
	top:100%;
}

.userCard .picture {
	float: left;
}

.userCard .text {
	float: left;
	margin-left: 65px;
	width: 476px;
}

.userCard .pictureAndText {
	padding: 50px;
}

.userCard .text h1 {
	margin-top: 16px;
}

.userCard .text hr {
	margin: 20px 0;

}

.userCard .text dt,
.userCard .text dd {
	float: left;
	padding: 5px 0;
}

.userCard .text dt {
	width: 30%;
	font-weight: bold;
}

.userCard .text dd {
	width: 70%;
	color: #9da0a7;
}

.userCard>footer.media {
	background-color: rgb(232,103,107);
	text-align: center;
	xpadding:20px 0;
}

.userCard>footer.media>a {
	xborder: 1px black solid;
	display: inline-block;
	width: 40px;
	line-height: 30px;
	padding:5px 0;
	border-radius: 50%;
	margin: 16px;
}

.userCard>footer.media>a:hover {
	background-color: rgb(208,92,96);
}

.userCard svg {
	width: 30px;
	height: 30px;
	fill: white;
	xmargin: 0 16px;
	vertical-align: top;
}

body>main {
	margin-top: -345px;

}

body>main .downloadResume {
	font-size: 14px;
	line-height: 16px;
	padding:21px 95px;
	display: inline-block;
	border:1px rgb(205,207,209) solid;
	background-color: rgb(239,239,239);
	border-radius: 3px;
	color:#3d4451;
	font-weight: bold;
	margin: 32px;
	transition: box-shadow 0.1s;

}

body>main>.downloadResume-wrapper {
	text-align: center;
}

body>main .downloadResume:hover {
	box-shadow: 1px 7px 7px 0px rgba(135,131,135,1);

}

.selfIntroduction {
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: kai;
	font-size: 18px;
	line-height: 1.8;
}

section.skills, section.portfolio {
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
}

section.skills>h2, section.portfolio>h2 {
	color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
}

section.skills h3 {
	font-size: 14px;
	line-height: 1.1;
	padding-right: 48px;
}

section.skills>ol {
	background-color: white;
	box-shadow: 1px -1px 3px 0px rgba(135,131,135,1);
	padding: 42px 50px 10px;
	margin: 32px;
}



section.skills>ol>li {
	float: left;
	width: 48%;
	box-sizing: border-box;
	xpadding-right: 40px;
}

section.skills>ol>li:nth-child(even) {
	float: right;
}

section.skills .progressBar {
	height: 5px;
	xborder: 1px rgb(232,103,107) solid;
	background-color: rgb(250,225,225);
	border-radius: 2px;
	margin: 4px 0px 40px;
}

section.skills .progressBar .progress {
	background-color: rgb(232,103,107);
	width:50%;
	height: 100%;
	border-radius: 2px
}

section.portfolio {
	text-align: center;
	margin-bottom: 100px;
}

section.portfolio>nav {
	text-align: center;
	display: inline-block;
	vertical-align: top;
	margin-top: 32px;
}

section.portfolio>nav>ol {
	display: inline-block;
	xborder:1px red solid;
	margin: 0 auto;
	vertical-align: top;
}

section.portfolio>nav>ol>li {
	float: left;
	margin-left: 40px;
	cursor: pointer;
}

section.portfolio>nav>ol>li:nth-child(1) {
	margin-left: 0;
}

section.portfolio>nav>div {
	

}

section.portfolio>nav>.bar {
	xborder:1px red solid;
	height: 5px;
	background-color: white;
	margin-top: 5px;
	margin-bottom: 32px;
	border-radius: 2px;


}

section.portfolio>nav>.bar>.bar-inner {
	height: 100%;
	background: rgb(232,103,107);
	xwidth: 10%;
	border-radius: 2px;
	transition: all 0.3s;
}


section.portfolio>nav>.bar.state-1>.bar-inner {
	margin-left: 0;
	width: 25%;
}

section.portfolio>nav>.bar.state-2>.bar-inner {
	margin-left: 80px;
	width: 25%;
}

section.portfolio>nav>.bar.state-3>.bar-inner {
	margin-left: 160px;
	width: 45%;
}

section.portfolio>.works {
	position: relative;
}

section.portfolio>.works>.big,
section.portfolio>.works>.small {
	position: absolute;
}



